@using AEBestGatePath.Web.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AEBestGatePath.Web.Shared.Auth
@inject UserAuthenticationStateProvider AuthState
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="signout" style="color:black">
            <span class="bi bi-box-arrow-in-right-nested-nav-menu" aria-hidden="true"></span> Sign out
        </NavLink>
        <div class="profile-container clickable" style="display:flex;align-items:center;padding-left:12px;" @onclick="@(() => NavManager.NavigateTo("profile"))">
            <img src="@AuthState.CurrentUser.ProfilePicture" style="border-radius:50%;height:30px;" alt="User Profile Pic"/>
            <span style="padding-left:15px;">@AuthState.CurrentUser.Username</span>
        </div>
    </Authorized>
    <NotAuthorized>
        <GoogleLoginButton />
    </NotAuthorized>
</AuthorizeView>

@code{

    public void BeginLogOut()
    {
        NavManager.NavigateToLogout("authentication/logout");
    }

}