@inherits LayoutComponentBase
@using Blazored.Toast
@using Blazored.Toast.Configuration



<BlazoredToasts Position="ToastPosition.BottomRight"
                RemoveToastsOnNavigation="false"
                IconType="IconType.Custom"
                ErrorIcon="bi bi-bug-fill"
                Timeout="10"
                ShowProgressBar="true"/>

<nav class="navbar navbar-expand-lg fixed-top bg-secondary bg-gradient">
    <div class="container-fluid">
        <ul class="navbar-nav" style="width: 100%;">
            <li class="nav-item d-flex justify-content-between align-items-center" style="width: 100%;">
                <LoginDisplay />
            </li>
        </ul>
        @* </div> *@
    </div>
</nav>
<div class="page">
    <div class="sidebar bg-secondary-subtle bg-gradient">
        <NavMenu />
    </div>

    <div class="b-divider"></div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
